body {
  background-color: #E9ECF7;
  font-family: 'Didact Gothic', sans-serif;
}

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
}
.top-menu .logo {
  width: 25%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-menu .logo .text {
  margin-left: 5%;
  width: 10%;
  margin-top: -3%;
  height: 100%;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.top-menu .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.top-menu .nav .menu-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.top-menu .nav .info {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #07577C;
}
.top-menu .nav .lk {
  font-weight: 600;
  font-size: 20spx;
  line-height: 24px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}
.top-menu .nav .lk .header_profile {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.top-menu .nav .lk .header_profile .inside {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 26px;
  background-color: #07577C;
  color: white;
}
.top-menu .nav .lk .header_profile .inside label {
  width: 60%;
  text-align: center;
}
.top-menu .nav .lk .header_profile .inside .profile_img {
  text-align: center;
  width: 40%;
}
.top-menu .nav .lk .header_profile .inside .profile_img img {
  width: 43px;
  height: 43px;
}
.top-menu a {
  text-decoration: none;
  color: #07577C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.top-menu a:hover {
  text-decoration: underline;
}
.top-menu ul {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  font-size: 18px;
  color: #07577C;
}
.top-menu ul li {
  list-style: none;
  padding-left: 40px;
}

.navbar-logo {
  display: inline-block;
  width: 35%;
  height: 35%;
}
.navbar-logo img {
  width: 90%;
  height: 90%;
}

img {
  width: 43px;
  height: 43px;
}
.footer__icon img{
    width: 30px;
    height: 30px;
    margin-left: 1%;
}
.app__footer {
    margin-top: 2%;
  width: 100%;
  height: 10%;
  background:  #F3F3F3;
  padding-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;

}
.app__footer .bottom {
  background: #07577C;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
}
.app__footer .bottom p {
  padding: 1vw 1vw 1vw 1vw;
}
.app__footer a {
  text-decoration: none;
  color: white;
}

@media screen and (max-device-width: 900px) {
  .app {
    font-size: 125%;
  }

  .grid_app_steps {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: ;
    grid-template-rows: repeat(auto);
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 1vw;
  }
}
@media screen and (max-device-width: 800px) {
  body {
    font-size: 200%;
  }
.client-info span{
    width: 100px;
    height: 100px;
}
